@charset "UFT-8";

body { color:#FFDD22;
    font-family: serif ;
    background-color: #FF5555;
}
.ender {text-align: right;
    font-size:14px;
    line-height: 140%;
    float: right;
    font-family: Rubik verdana sans-serif;
}

img.imgLogo{ border-bottom: #FFDD22 solid 3px;
        margin-bottom: 6px;
        padding-bottom: 5px;
    }

.apres{ text-align: center;
        font-size:18px;
        font-family: verdana;
      
}

nav ul { color: #FFDD22;
        line-height: 230%;
        margin-top: 40px;
        list-style-type:disc;
        font-family: Verdana;
        width: 200px;
        float:left; 
      }

ul a { text-decoration: none;
    color:#FFDD00;
    line-height:200%;
    font-family:Verdana;

}

a:visited{ color: #FFBB00;

}

header { margin-bottom: 1px;

}
